# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.env
.env
.venv/
env/
venv/
ENV/
.Python

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc

# Test/coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# mypy
.mypy_cache/

# S3/MinIO uploads (if any local cache)
uploads/